.header {
    background-color: dimgray;
    height: 35px;
    border-radius: 12px 12px 0 0;
    display: flex;
    align-items: center;
    font-family: Georgia;
}

.mis {
    margin-left: 15px;
    width: 50%;
    color: white;
    min-width: 100px;
    text-align: left;
    float: left;
}

.datetime {
    min-width: 50%;
    background-color: rebe ccapurple;
    float: left;
    text-align: right;
    color: red;
    margin-right: 10px;
}

#date {
    color: white;
}

#time {
    color: #beb9b9;
}
